.left {
    float: left;
    width: 25%;
}

.middle {
    float: left;
    width: 30%;
}

.right {
    float: left;
    width: 40%;
}

div {
    padding: 5px;
}

button {
    width: auto;
    height: 30px;
    border: 10;
    background-color: #3B7C78;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #fff;
    color: #3B7C78;
    border: 2px #3B7C78 solid;
}

pre {
    margin: 0;
}

.output {
    background-color: #f0f0f0;
    border-radius: 10px;
    display: block;
    padding: 10px;
    overflow-x: auto;
}

.log {
    padding: 0;
}

video {
    width: 100%;
    height: auto;
}



/* 特別標色 */
.impWord {
    font-size: 20px;
    font-weight: bold;
    color: red;
}

.boldWord {
    margin: 10px 0 0 0;
    font-weight: bold;
}
